<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Lemon Drop Kid. It uses data from Mapbox and Darksky.net</p>
        <img class="portrait" src="/img/ldk.jpg" alt="Lemon Drop Kid">
        <p>This is a weather app.</p>
        <p>You provide a location and I'll give you a forecast</p>
    </div>
    {{>footer}}
</body>

</html>